 h2{
    text-align: center;
    
}
input{
    height: 30px;
    width: 800px;
    color: black;
    border-color: black;
}
 select{
    height: 30px;
    width: 800px;
    color: black;
    border-color: black;
}
label{
    color: black;
}
button{
    background-color: blue;
    color:white
}
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
}

